<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Tweet app</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css"
    />
    <style>
      .container {
        width: 500px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div class="container">
        <h1 class="title">Tweet app</h1>

        <p style="margin-bottom: 20px">
          <a class="button is-info" @click="show">Add new tweet</a>
        </p>

        <p v-if="tweets.length == 0">No tweets yet...</p>

        <div
          v-for="tweet in tweets"
          v-else
          class="card"
          style="margin-bottom:20px"
        >
          <div class="card-content">
            <div class="content">
              {{ tweet }}
            </div>
          </div>
          <footer class="card-footer">
            <a href="#" class="card-footer-item" @click="deleteTweet(tweet)"
              >Delete</a
            >
          </footer>
        </div>

        <!-- Modal -->
        <div class="modal" v-bind:class="{'is-active': showModal}">
          <div class="modal-background"></div>
          <div class="modal-card">
            <header class="modal-card-head">
              <p class="modal-card-title">Add new tweet</p>
              <button class="delete" aria-label="close" @click="show"></button>
            </header>
            <section class="modal-card-body">
              <div class="field">
                <label class="label">Tweet</label>
                <div class="control">
                  <textarea
                    class="textarea"
                    placeholder="Textarea"
                    v-model="newTweet"
                  ></textarea>
                </div>
              </div>
            </section>
            <footer class="modal-card-foot">
              <p
                style="margin-right: 20px"
                :class="{'has-text-danger': newTweet.length > 140}"
              >
                {{ charsLeft }}
              </p>
              <button
                class="button is-success"
                :disabled="newTweet.length == 0 || newTweet.length > 140"
                :class="{'is-loading': loading}"
                @click="addTweet"
              >
                Save tweet
              </button>
            </footer>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>
